Plugins>Waveform Analysis for ImageJ, "Align...", waveformAnalysisForImageJ.AlignWaveforms
Plugins>Waveform Analysis for ImageJ, "Average Waveforms", waveformAnalysisForImageJ.AverageWaveforms
Plugins>Waveform Analysis for ImageJ, "Binomial Filter...", waveformAnalysisForImageJ.BinomialFilter
Plugins>Waveform Analysis for ImageJ, "Butterworth Filter...", waveformAnalysisForImageJ.ButterworthFilter
Plugins>Waveform Analysis for ImageJ, "Envelope...", waveformAnalysisForImageJ.Envelope
Plugins>Waveform Analysis for ImageJ, "FFT...", waveformAnalysisForImageJ.FFTComplex
Plugins>Waveform Analysis for ImageJ, "Generate B-Scan Gates...", waveformAnalysisForImageJ.GateBScanInteractively
Plugins>Waveform Analysis for ImageJ, "Generate C-Scan Gates...", waveformAnalysisForImageJ.GateCScanInteractivelySwing
Plugins>Waveform Analysis for ImageJ>Moving Window Analysis, "Band-Limited Power...", waveformAnalysisForImageJ.MovingWindowBandLimitedPower
Plugins>Waveform Analysis for ImageJ>Moving Window Analysis, "Weighted Average...", waveformAnalysisForImageJ.MovingWindowWeightedAverage
Plugins>Waveform Analysis for ImageJ>Moving Window Analysis, "Segment Median...", waveformAnalysisForImageJ.MovingWindowMedian
Plugins>Waveform Analysis for ImageJ>Moving Window Analysis, "Sum of Squares...", waveformAnalysisForImageJ.MovingWindowSumOfSquares
Plugins>Waveform Analysis for ImageJ>Moving Window Analysis, "Segment Variance...", waveformAnalysisForImageJ.MovingWindowVariance
Plugins>Waveform Analysis for ImageJ>Moving Window Analysis, "Zero Crossings...", waveformAnalysisForImageJ.MovingWindowZeroCrossingCount
Plugins>Waveform Analysis for ImageJ, "Sector Scan Conversion...", waveformAnalysisForImageJ.SectorScanConvert
Plugins>Waveform Analysis for ImageJ, "Smoothing Spline Interpolation...", waveformAnalysisForImageJ.SmoothingSplineInterpolation
Plugins>Waveform Analysis for ImageJ, "Subtract from Waveform...", waveformAnalysisForImageJ.SubtractFromWaveform
Plugins>Waveform Analysis for ImageJ, "Waveform Math...", waveformAnalysisForImageJ.WaveformMath
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Average Value", waveformAnalysisForImageJ.MeanValue
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Kurtosis", waveformAnalysisForImageJ.Kurtosis
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Maximum Value", waveformAnalysisForImageJ.MaximumValue
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Maximum Position", waveformAnalysisForImageJ.MaximumIndex
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Median Value", waveformAnalysisForImageJ.MedianValue
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Minimum Value", waveformAnalysisForImageJ.MinimumValue
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Minimum Position", waveformAnalysisForImageJ.MinimumIndex
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Range", waveformAnalysisForImageJ.Range
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Skewness", waveformAnalysisForImageJ.Skewness
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Spectral Maximum...", waveformAnalysisForImageJ.SpectralMaximum
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Sum of Squared Values", waveformAnalysisForImageJ.SumOfSquares
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Waveform Variance...", waveformAnalysisForImageJ.Variance
Plugins>Waveform Analysis for ImageJ>Waveform Measurements, "Zero Crossing Count", waveformAnalysisForImageJ.ZeroCrossingCount